body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  .contenedor {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
  }

  .casilla {
    width: 100px;
    height: 100px;
    background-color: #08479f;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    cursor: pointer;
  }