.fondo_rojo{
    background-color: red;

}

.fondo_verde{
    background-color: greenyellow;
}

.fondo_azul{
    background-color: rgb(122, 171, 248);
}

.fondo_amarillo{
    background-color: yellow;
}